{% extends "base.html" %}
{% load i18n widget_tweaks %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
{% if not request.GET.clicked and request.GET.next %}<p>{% trans "You need to log in to access the following page." %}</p>{% endif %}

{% if form.errors %}
<p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}
<h1>{% trans "Login" %}</h1>
<form method="post" action="{% url "tracker_login" %}">
<input type="hidden" name="next" value="{{request.GET.next}}" />
{% csrf_token %}
<div class="form-group">
{% for field in form %}
<div class="form-group form-check">
{{ field.errors }}
{{ field.label_tag }} {{field|add_class:"form-control"}}
</div>
{% endfor %}
<div class="form-group form-check">
<input class="btn btn-primary btn-md btn-block" type="submit" value="{% trans "Login" %}" />
</div>
</div>
</form>
<h2>{% trans "Or..." %}</h2>
<form method="get" action="{% url 'social:begin' 'mediawiki' %}">
<div class="form-group form-check">
<input class="btn btn-primary btn-md btn-block" type="submit" value="{% trans "Login with Meta Wiki" %}" />
</div>
</form>
<div style="margin-top: 25px;">
<p>{% trans "Don't have an acount?" %} <a href="{% url "register" %}">{% trans "Register" %}</a><br />
{% trans "Forgot password?" %}    <a href="{% url "password_reset" %}">{% trans "Reset password" %}</a><br>

{% endblock %}
