{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
	<p>
	{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
	</p>
{% endif %}

<h1>{% trans 'Password change' %}</h1>

{% if user_has_usable_password %}
<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
{% else %}
<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
{% endif %}

{% if user_has_usable_password %}
<div class="form-group form-check">
	{{ form.old_password.errors }}
	<label for="id_old_password" class="required">{% trans 'Old password' %}:</label>{{ form.old_password|add_class:"form-control" }}
</div>
{% endif %}

<div class="form-group form-check">
	{{ form.new_password1.errors }}
	<label for="id_new_password1" class="required">{% trans 'New password' %}:</label>{{ form.new_password1|add_class:"form-control" }}
</div>

<div class="form-group form-check">
{{ form.new_password2.errors }}
	<label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>{{ form.new_password2|add_class:"form-control" }}
</div>

<div class="form-group form-check">
	<input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary btn-md btn-block" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>

{% endblock %}
