{% extends "primitive_base.html" %}
{% load i18n %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{{STATIC_URL}}admin/{% endfilter %}";</script>
<script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
<script type="text/javascript" src="{{STATIC_URL}}datatables-init.js"></script>
<script src="{{STATIC_URL}}common.js"></script>

<!-- Datatables -->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="{{STATIC_URL}}jquery.dataTables.js"></script>
<!-- Custom Datatables sorting -->
<script type="text/javascript" charset="utf8" src="{{STATIC_URL}}datatables-sorting-hooks.js"></script>

{{ block.super }}
<link href="{{STATIC_URL}}teh-tracker.css" rel="stylesheet" type="text/css" />
{{form_media}}{% endblock %}

{% block language_code %}{{LANGUAGE_CODE}}{% endblock %}

{% block fulltitle %}{% block title %}{% endblock %}{% endblock %}

{% block body %}

{% if user.is_authenticated and request.path != "/my/details/" %}{% if not user.email %}
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				{% trans 'There is no email address associated with this account. Please update your details now.' %}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Update details' %}</button>
			</div>
		</div>
	</div>
</div>

<script>
document.addEventListener( 'DOMContentLoaded', () => {
	$( '#emailModal' ).modal('show');
});
$( '#emailModal' ).on('hidden.bs.modal', (e) => {
	$( location ).attr('href', '/my/details/');
});
</script>
{% endif %}{% endif %}

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">{% trans "Toggle navigation" %}</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<!-- i18n-lint disable -->
		<a class="navbar-brand" href="/">Tracker</a>
		<!-- i18n-lint enable -->
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			{% if user.is_authenticated %}
				<li style="list-style: none;">{{wrapped_user.get_html_link}}</li>
				<li><a href="{% url "password_change" %}">{% trans "change password" %}</a></li>
				<li><a href="{% url "user_details_change" %}">{% trans "change my details" %}</a></li>
				<li><a href="{% url "preferences" %}">{% trans "preferences" %}</a></li>
				{% if user.is_staff %}
					<li><a href="{% url "admin:index" %}">{% trans "admin" %}</a></li>
				{% endif%}
				<li><a href="{% url "choose_language" %}">{% trans "change language" %}</a></li>
				<li><a href="{{ MANUAL_LINK }}">{% trans "help" %}</a></li>
				<li><a href="{% url "tracker_logout" %}">{% trans "logout" %}</a></li>
			{% else %}
				{% url 'tracker_logout' as tracker_logout_url %}
				{% if request.path != tracker_logout_url%}
					<!-- htmllint spec-char-escape="false" -->
					<li><a href="{% url "tracker_login" %}?next={{request.path}}&clicked=True">{% trans "login" %}</a></li>
					<!-- htmllint spec-char-escape="false" -->
				{% else %}
					<li><a href="{% url "tracker_login" %}?clicked=True">{% trans "login" %}</a></li>
				{% endif %}
				<li><a href="{% url "register" %}">{% trans "register" %}</a></li>
				<li><a href="{% url "choose_language" %}">{% trans "change language" %}</a></li>
				<li><a href="{{ MANUAL_LINK }}">{% trans "help" %}</a></li>
			{% endif %}
		</ul>
	</div>
	</div>
</nav>
<div class="container error-container">
	{% for message in messages %}
	<!-- htmllint attr-no-dup="false" -->
	<div {% if message.tags %}class="alert alert-{{ message.tags }} alert-dismissable" {% else %}class="alert alert-info alert-dismissable" {% endif %}><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{ message }}</div>
	<!-- htmllint attr-no-dup="$previous" -->
	{% endfor %}
	{% if not PRODUCTION %}
	<div class="alert alert-warning">{% trans "Warning" %}: {% blocktrans %}You are not in production. If you want to request reimbursement of expenses, go to <a href="{{ PRODUCTION_URL }}">{{ PRODUCTION_URL }}</a>.{% endblocktrans %}</div>
	{% endif %}
	{% if request.is_IE %}
	<div class="alert alert-warning">{% trans "Warning" %}: {% trans "You are using Internet Explorer. However, Tracker requires modern features Internet Explorer doesn't support. As a result, Tracker might not work properly in Internet Explorer. We recommend you using another browser, such as Chrome or Firefox." %}</div>
	{% endif %}
</div>
<div class="container">
{% block content %}{% endblock %}
</div>
{% endblock body %}
