# Package versions are in constraints.txt. Update it when you change this file.

# just our usual stuff
Django==3.2.*
django-sendfile2
django-recaptcha
django-contrib-comments
django-widget-tweaks
pymemcache
social-auth-app-django
django-crequest
django-background-tasks
bleach

# For API
djangorestframework
django-filter

# For B&C with Python3.13
setuptools
legacy-cgi

# For makesettings
questionary

# we'll presume MySQL as the database
mysql
