# just our usual stuff
Django==3.2.*
django-sendfile2
django-recaptcha2
django-contrib-comments
django-widget-tweaks
python-memcached
social-auth-app-django
django-crequest
django-background-tasks
bleach

# For API
djangorestframework
django-filter

# For B&C with Python3.13
setuptools
legacy-cgi

# For makesettings
questionary

# we'll presume MySQL as the database
mysql
