# just our usual stuff
Django==2.0.*
django-sendfile
django-recaptcha2==1.0.3
django-contrib-comments==1.8.0
django-widget-tweaks
python-memcached
social-auth-app-django
django-crequest
pytz
jsonfield
django-background-tasks
bleach

# For API
djangorestframework==3.11.0
django-filter==1.1
django-rest-swagger==2.2.0

# we'll presume MySQL as the database
mysql
