{% extends "base.html" %}
{% load i18n trackertags %}

{% block title %}{{grant.full_name}}{% endblock %}

{^

{% block content %}
<p class="nav"><a href="{% url "ticket_list" %}">{% trans "index" %}</a> &gt; <a href="{% url "grant_list" %}">{% trans "grants" %}</a> &gt;</p>
<h1>{{grant.full_name}}</h1>
{% if user.is_authenticated %}<a href="{% url 'watch_grant' grant.id %}">{% trans "watch settings" %}</a>{% endif %}
{% if grant.description %}<div>{{ grant.description|safe_html|tracker_rich_text|linebreaks }}</div>{% endif %}

{% include "tracker/topic_table.html" with topic_list=grant.topic_set.all grant=grant %}

{% endblock content %}
