{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Show media for" %}: {{ ticket.name }}{% endblock %}
{% block content %}
<!-- i18n-lint disable -->
<div class="hidden" id="disabledatatables">yes</div>
<!-- i18n-lint enable -->
<p class="nav"><a href="{% url "ticket_list" %}" class="btn btn-primary">{% trans "index" %}</a> &gt; <a href="{% url "ticket_detail" ticket.id %}">{{ticket.name}}</a> &gt;</p>
<h1>{% trans "List of linked media" %}: {{ ticket.name }}</h1>
<p>{% trans "Last updated" %}: {{ ticket.media_updated }} (<a href="{% url "update_media" ticket.id %}">{% trans "update" %}</a>)</p>
<p>{% trans "Page will be updated within 24 hours." %}</p>
<table class="table">
	<thead>
		<tr>
			<th>{% trans "File name" %}</th>
			<th>{% trans "Dimension" %}</th>
			<th>{% trans "Categories" %}</th>
			<th>{% trans "Used in" %}</th>
		</tr>
	</thead>
	<tbody>
		{% for media in medias %}
		<tr>
			<td><a href="{{ media.mediawiki_link }}">{{ media.name }}</a></td>
			<td>{% if media.width and media.height %}{{ media.width }}x{{ media.height }}{% else %}{% trans "Unknown" %}{% endif %}</td>
			<td>
				<ul>
					{% for category in media.mediainfocategory_set.all %}
					<li><a href="{{MEDIAINFO_MEDIAWIKI_ARTICLE}}{{category.title}}">{{category.title}}</a></li>
					{% endfor %}
				</ul>
			</td>
			<td>
					<ul>
						{% for usage in media.mediainfousage_set.all %}
						<li><a href="{{usage.url}}">{{usage.title}}</a> ({{usage.project}})</li>
						{% endfor %}
					</ul>
				</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td>{% trans "Number of files" %}</td>
			<td>{{ ticket.mediainfo_set.count }}</td>
		</tr>
		<tr>
			<td>{% trans "Number of usages" %}</td>
			<td>{{usages_count}}</td>
		</tr>
		<tr>
			<td>{% trans "Number of Wikidata items" %}</td>
			<td>{{wikidata_usages_count}}</td>
		</tr>
		<tr>
			<td>{% trans "Number of unique Wikidata items" %}</td>
			<td>{{unique_wikidata_usages_count}}</td>
		</tr>
	</tfoot>
</table>

<h2>{% trans 'Photos per category' %}</h2>
<table class="table">
	<thead>
		<tr>
			<th>{% trans 'Category' %}</th>
			<th>{% trans 'Number' %}</th>
		</tr>
	</thead>
	<tbody>
		{% for category, number in photos_per_category.items %}
		<tr>
			<td>{{ category }}</td>
			<td>{{ number }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
