{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Manage media for" %}: {{ticket}}{% endblock title %}

{% block content %}
<section class="commons-selection">
	<p class="nav"><a href="{% url "ticket_list" %}" class="btn btn-primary">{% trans "index" %}</a> &gt; <a href="{% url "ticket_detail" ticket.id %}">{{ticket.name}}</a> &gt;</p>
	<h2>{% trans "Add new media" %}</h2>
	<div class="row">
		<div class="col-md-6">
			<form action="javascript:void(0);">
				<label for="by-name-input">{% trans "Filename prefix" %}</label>
				<input type="search" name="by-name-input" id="by-name-input">
				<button type="submit" id="by-name-submit" class="btn btn-secondary">{% trans "Search" %}</button>
			</form>
			<form action="javascript:void(0);">
				<label for="by-user-input">{% trans "Mediawiki username" %}</label>
				<input type="text" name="by-user-input" id="by-user-input">
				<button type="submit" id="by-user-submit" class="btn btn-secondary">{% trans "Search" %}</button>
			</form>
		</div>
		<div class="col-md-6">
			<form action="javascript:void(0);">
				<div class="form-group">
					<label for="limit">{% trans "Number of images to fetch" %}</label>
					<input type="number" name="limit" value=25 max=500 id="limit">
				</div>
				<div class="form-group">
					<label for="category">{% trans "Category to filter by" %}</label>
					<input type="text" name="category" id="category">
				</div>
			</form>
		</div>
	</div>
	<hr>

	<form action="javascript:void(0);">
		{% csrf_token %}

		<input type="hidden" name="ticket" value="{{ ticket.id }}" id="ticket-number">

		<section class="search-results">
			<!-- Results will be filled in via /static/commons-selection.js -->
		</section>

		<div class="text-center">
			<button id="load-more" class="btn btn-secondary hidden">{% trans "Load more" %}</button>
			<p id="loading">{% trans "Loading..." %}</p>
		</div>

		<br>

		<input type="submit" value="{% trans "Choose selected photos" %}" id="selection-submit" class="btn btn-primary">
	</form>

	<h2>{% trans "Remove existing media" %}</h2>
	<form action="javascript:void(0);">
		{% csrf_token %}

		<section class="existing-search-results">
			<!-- Results will be filled in via /static/commons-selection.js -->
		</section>

		<input type="submit" value="{% trans "Delete selected photos" %}" id="deletion-submit" class="btn btn-primary">
	</form>
</section>

<script src="/static/cookies.min.js"></script>
<script src="/static/commons-selection.js"></script>
{% endblock content %}
