{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Manage media for" %}: {{ticket}}{% endblock title %}

{% block content %}
<section class="commons-selection">
	<p class="nav"><a href="{% url "ticket_list" %}" class="btn btn-primary">{% trans "index" %}</a> &gt; <a href="{% url "ticket_detail" ticket.id %}">{{ticket.name}}</a> &gt;</p>
	<h2>{% trans "Add new media" %}</h2>
	<form action="javascript:void(0);">
		<div class="row">
			<div class="col-md-4">
				<h4>{% trans "Find by" %}:</h4>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="find-by" id="find-by-user" checked value="user">
					<label for="find-by-user">{% trans "Mediawiki username" %}</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="find-by" id="find-by-filename" value="filename">
					<label for="find-by-filename">{% trans "Filename prefix" %}</label>
				</div>
			</div>
			<div class="col-md-4">
				<label id="find-by-label">{% trans "Mediawiki username" %}</label>
				<input class="form-control" type="text" name="find-by-data">
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="limit">{% trans "Number of images to fetch" %}</label>
					<input class="form-control" type="number" name="limit" value=25 max=500 id="limit">
				</div>
				<div class="form-group">
					<label for="category">{% trans "Category to filter by" %}</label>
					<input class="form-control" type="text" name="category" id="category">
				</div>
			</div>
		</div>
		<div class="row">
			<!-- TODO: Change back to btn-secondary, once we change its color -->
			<button type="submit" id="btn-search" class="btn btn-success form-control">{% trans "Search" %}</button>
		</div>
	</form>
	<p>
		{% trans "To select more images at once, select the first one, press Shift, and select the last one." %}
	</p>
	<button type="button" id="btn-select-all" class="btn btn-secondary">{% trans "Select all" %}</button>
	<button type="button" id="btn-deselect-all" class="btn btn-secondary">{% trans "Deselect all" %}</button>
	<button type="button" id="btn-invert-all" class="btn btn-secondary">{% trans "Invert selection" %}</button>
	<hr>

	<form action="javascript:void(0);">
		{% csrf_token %}

		<input type="hidden" name="ticket" value="{{ ticket.id }}" id="ticket-number">

		<section class="search-results">
			<!-- Results will be filled in via /static/commons-selection.js -->
		</section>

		<div class="text-center">
			<button id="load-more" class="btn btn-secondary hidden">{% trans "Load more" %}</button>
			<p id="loading">{% trans "Loading..." %}</p>
		</div>

		<br>

		<input type="submit" value="{% trans "Choose selected photos" %}" id="selection-submit" class="btn btn-primary">
	</form>

	<h2>{% trans "Remove existing media" %}</h2>
	<p>{% trans "It can take up to five minutes for the images you added to show here." %}</p>
	<form action="javascript:void(0);">
		{% csrf_token %}

		<section class="existing-search-results">
			<!-- Results will be filled in via /static/commons-selection.js -->
		</section>

		<input type="submit" value="{% trans "Delete selected photos" %}" id="deletion-submit" class="btn btn-primary">
	</form>
</section>

<script src="/static/cookies.min.js"></script>
<script src="/static/commons-selection.js"></script>
{% endblock content %}
