{% load i18n trackertags %}
{% if topic_list %}
<span class="hidden" id="custom-columnDefs-datatables">[{"type": "money", "targets": [2,3]}]</span>
<table id="topic_table" class="table table-striped table-hover"><thead><tr>
<th rowspan="2">{% trans "Topic" %}</th>
{% if show_grants %}<th rowspan="2"><abbr title="{% trans "Grant" %}">{% filter slice:":2" %}{% trans "Grant" %}{% endfilter %}<abbr></th>{% endif %}
<th rowspan="2">{% trans "Tickets" %}</th>
<th rowspan="2">{% trans "Paid wages" %}</th>
<th rowspan="2">{% trans "Paid together" %}</th>
<th colspan="5" class="smaller">{% trans "Tickets per payment status" %}</th>
<th rowspan="2">{% trans "Administrators" %}</th>
</tr>
<th><abbr title="{% trans "no payment required" %}">{% trans "n/a" %}</abbr></th>
<th><abbr title="{% trans "unpaid" %}">0</abbr></th>
<th><abbr title="{% trans "partially paid" %}">&lt;</abbr></th>
<th><abbr title="{% trans "paid" %}">=</abbr></th>
<th><abbr title="{% trans "overpaid" %}">&gt;</abbr></th>
</tr></thead>
<tbody>
{% for topic in topic_list %}{% with tpps=topic.tickets_per_payment_status %}
<tr>
<td><a href="{% url "topic_detail" topic.id %}">{{topic.name}}</a></td>
{% if show_grants %}<td><a href="{{topic.grant.get_absolute_url}}" title="{{topic.grant.full_name}}">{{topic.grant.short_name}}</a></td>{% endif %}
<td>{{topic.ticket_set.count}}</td>
<td>{{topic.paid_wages|money}}</td>
<td>{{topic.paid_together|money}}</td>
<td {% if tpps.n_a %}class="payment-cell n_a" {% endif %}>{{tpps.n_a}}</td>
<td {% if tpps.unpaid %}class="payment-cell unpaid"{% endif %}>{{tpps.unpaid}}</td>
<td {% if tpps.partially_paid %}class="payment-cell partially_paid"{% endif %}>{{tpps.partially_paid}}</td>
<td {% if tpps.paid %}class="payment-cell paid"{% endif %}>{{tpps.paid}}</td>
<td {% if tpps.overpaid %}class="payment-cell overpaid"{% endif %}>{{tpps.overpaid}}</td>
<td>{% for admin in topic.admin.all %}{{ admin.username }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
</tr>
{% endwith %}{% endfor %}
</tbody>
{% if grant %}
<tr>
<td>{% trans "Total" %}</td>
<td>{{grant.total_tickets}}</td>
<td>{{grant.total_paid_wages|money}}</td>
<td>{{grant.total_paid_together|money}}</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
{% endif %}
</table>

{% else %}
<p>{% trans "No topics available." %}</p>
{% endif %}
