{% load i18n %}
{% autoescape off %}
{% if ticket_new_notifs.count > 0 %}
<h1>{% trans "List of new tickets" %}</h1>
<ul>
	{% for notif in ticket_new_notifs %}
	<li>{{notif.fired}}: {{notif}}</li>
	{% endfor %}
</ul>
{% endif %}

{% if ticket_delete_notifs.count > 0 %}
<h1>{% trans "List of deleted tickets" %}</h1>
<ul>
	{% for notif in ticket_delete_notifs %}
	<li>{{notif.fired}}: {{notif}}</li>
	{% endfor %}
</ul>
{% endif %}

{% if ack_notifs.count > 0 %}
<h1>{% trans "The state of a watched ticket was changed" %}</h1>
<ul>
	{% for notif in ack_notifs %}
	<li>{{notif.fired}}: {{notif}}</li>
	{% endfor %}
</ul>
{% endif %}

{% if supervisor_notes_notifs.count > 0 %}
<h1>{% trans "Supervisor notes on a watched ticket were changed" %}</h1>
<ul>
	{% for notif in supervisor_notes_notifs %}
	<li>{{notif.fired}}: {{notif}}</li>
	{% endfor %}
</ul>
{% endif %}

{% if ticket_change_notifs.count > 0 %}
<h1>{% trans "Changes were made to a watched ticket" %}</h1>
<ul>
	{% for notif in ticket_change_notifs %}
	<li>{{notif.fired}}: {{notif}}</li>
	{% endfor %}
</ul>
{% endif %}

{% if preexpeditures_notifs.count > 0 %}
<h1>{% trans "The preexpenditures of a watched ticket were changed" %}</h1>
<ul>
	{% for notif in preexpeditures_notifs %}
	<li>{{notif.fired}}: {{notif}}</li>
	{% endfor %}
</ul>
{% endif %}

{% if expeditures_notifs.count > 0 %}
<h1>{% trans "The expenditures of a watched ticket were changed" %}</h1>
<ul>
	{% for notif in expeditures_notifs %}
	<li>{{notif.fired}}: {{notif}}</li>
	{% endfor %}
</ul>
{% endif %}

{% if media_notifs.count > 0 %}
<h1>{% trans "Medias of a watched ticket" %}</h1>
<ul>
	{% for notif in media_notifs %}
	<li>{{notif.fired}}: {{notif}}</li>
	{% endfor %}
</ul>
{% endif %}

{% if document_notifs.count > 0 %}
<h1>{% trans "Documents of a watched ticket were changed" %}</h1>
<ul>
	{% for notif in document_notifs %}
	<li>{{notif.fired}}: {{notif}}</li>
	{% endfor %}
</ul>
{% endif %}

{% if comment_notifs.count > 0 %}
<h1>{% trans "A comment was added to a watched ticket" %}</h1>
<ul>
	{% for notif in comment_notifs %}
	<li>{{notif.fired}}: {{notif}}</li>
	{% endfor %}
</ul>
{% endif %}

{% if ready_tickets.precontent|length > 0 %}
<h1>{% trans "List of tickets pending preapproval" %}</h1>
<strong>{% trans "Please note those tickets doesn't necessarily have to be ready for preapproval. Always check before preapproving. You are responsible for your own actions." %}</strong>
<ul>
	{% for ticket in ready_tickets.precontent %}
	<li><a href="{{BASE_URL}}{{ticket.get_absolute_url}}">{{ ticket }}</a></li>
	{% endfor %}
</ul>
{% endif %}

{% if ready_tickets.content|length > 0 %}
<h1>{% trans "List of tickets pending approval" %}</h1>
<strong>{% trans "Please note those tickets doesn't necessarily have to be ready for approval. Always check before approving. You are responsible for your own actions." %}</strong>
<ul>
	{% for ticket in ready_tickets.content %}
	<li><a href="{{BASE_URL}}{{ticket.get_absolute_url}}">{{ ticket }}</a></li>
	{% endfor %}
</ul>
{% endif %}

-- <br>
<a href="{{BASE_URL}}">{% trans "Tracker notifications" %}</a>
{% endautoescape %}
