.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

@media ( max-width: 768px ) {
	.btn {
		margin-bottom: 0.3em;
	}
}

table th,
table td {
	padding: 0 0.2em 0 0.2em;
}

table th {
	font-weight: normal;
	background-color: #eee;
	border-bottom: 2px solid #000;
	padding-bottom: 2px;
}

table th.uber-th {
	border-bottom: 1px dashed #ddd;
}

table td {
	border-bottom: 1px solid #000;
}

.calendar-shortcuts a {
	color: #2962ff;
	transition: ease-in 300ms;
}

.calendar-cancel a {
	color: #ff4242;
	font-size: smaller;
	padding: 3px;
	border-radius: 0 0 5px 0;
	transition: ease-in 200ms;
}

.calendar td,
.calendar td > a {
	color: #2a66d9;
	text-align: center;
	text-decoration: none;
}

.calendar caption {
	text-align: center;
	user-select: text;
}

.calendarbox {
	text-align: center;
	user-select: none;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: #00000042 0 0 15px 0;
	transition: cubic-bezier( 0.075, 0.82, 0.165, 1 ) 560ms;
}

.calendarbox div:not( .calendar ):not( .calendar-shortcuts ) {
	display: flex;
}

.calendarnav-previous,
.calendarnav-next {
	color: #fff;
	padding: 0 1em 0 1em;
	background-color: #2a66d9;
	transition: ease-in 500ms;
}

.calendarnav-next {
	float: right;
	border-radius: 0 5px 0 9px;
}

.calendarnav-previous {
	border-radius: 5px 0 9px 0;
	margin-right: auto;
}

.calendarnav-previous:hover,
.calendarnav-next:hover,
.calendarnav-previous:focus,
.calendarnav-next:focus {
	text-decoration: none;
	color: #fff;
	box-shadow: #518dff 0 0 6px 0;
	background-color: #518dff;
}

.calendar th > a,
.calendar th {
	text-align: center;
	text-decoration: none;
}

.calendar-shortcuts {
	font-size: smaller;
	text-align: center;
	color: #212121;
}

.calendar-cancel a:hover {
	background-color: #ff4242;
	color: #fff;
	text-decoration: none;
}

.calendar-shortcuts a:hover,
.calendar-shortcuts a:active,
.calendar-shortcuts a:focus {
	text-decoration: none;
	text-shadow: 0 0 16px #60bdfa;
}

.calendar-cancel {
	text-align: right;
	margin: 0.2em 0 0 0;
}

tr.grand_total td {
	border-bottom: double 3px #000;
}

tr.highlight td {
	background-color: #eee;
}

tr.total td {
	font-weight: bold;
}

tr.mid_total td {
	border-top: 1px solid #666;
}

tr.first_total td {
	border-top: 2px solid #000;
}

table tr:hover td {
	background-color: #ddd;
}

#user {
	text-align: right;
}

abbr [ title ] {
	border-bottom: dotted 1px #000;
}

td.checkbox_label {
	width: 90%;
}

.ticket_list tr.total td {
	border-top: 2px solid #000;
}

.hide-switch > .unhide {
	cursor: pointer;
	border: 0;
	background: none;
	text-decoration: underline;
	color: #18bc9c;
	margin-bottom: 15px;
}

.hide-switch > .unhide:focus {
	outline: 0;
}

.tools {
	float: right;
	padding: 0.3em;
	background-color: #eee;
}

* > body > div > p.tools.screenonly {
	background-color: unset;
}

span.helptext {
	display: block;
}

.helptext {
	font-size: smaller;
	color: #666;
}

.smaller {
	font-size: smaller;
}

.field-topic {
	margin-bottom: 0;
}

#topic_desc,
#subtopic_desc {
	margin: 0 0 0 7em;
	font-size: smaller;
	color: #666;
	border-left: solid 2px #666;
	padding: 0.7em 0 0 0.3em;
}

.notif-form label {
	margin-bottom: 0;
	width: 100%;
	height: 100%;
}

p.required label {
	font-weight: bold;
}

p.required label:before {
	padding-right: 0.2em;
	content: '*';
	color: #f00;
}

th.required {
	font-weight: bold;
}

th.required:after {
	padding-left: 0.2em;
	content: '*';
	color: #f00;
}

.datetimeshortcuts img {
	border: 0;
}

.empty-form {
	display: none;
}

td.money {
	text-align: right;
}

#ticket_id {
	display: none;
}

.payment_class_n_a .payment_status,
.payment_cell.n_a {
	color: #999;
}

.payment_class_unpaid .payment_status,
.payment_class_partially_paid td.payment_status,
.payment_cell.unpaid,
.payment_cell.partially_paid {
	background-color: #feffc5;
}

.payment_class_paid .payment_status,
.payment_cell.paid {
	background-color: #96fd7e;
}

.payment_class_overpaid .payment_status,
.payment_cell.overpaid {
	background-color: #ff7878;
}

.signatures {
	display: none;
}

@media print {
	#user,
	.nav,
	.screenonly {
		display: none;
	}

	#ticket_id {
		font-size: 26pt;
		font-weight: bold;
		text-align: right;
		display: block;
	}

	#media_list li {
		list-style-type: none;
		display: inline;
	}

	#media_list li:after {
		content: ';';
	}

	.comments_empty,
	.comments_add {
		display: none;
	}

	.alert {
		display: none;
	}

	.signatures {
		display: block;
		padding-bottom: 10px;
	}
}

fieldset.noframe {
	border: 0;
	padding: 0;
}

.paginator {
	list-style: none;
	padding-left: 0;
}

.paginator .page {
	display: inline;
	border: 1px solid #ccc;
	padding: 0.3em 0.7em;
}

.paginator .page.selected {
	background-color: #ccc;
}

.paginator.top {
	float: right;
}

.paginator.bottom {
	text-align: center;
}

input [ type='submit' ] {
	margin-top: 20px;
}

.uploadformlabel {
	text-transform: capitalize;
}

.ticket-summary {
	font-weight: bold;
}

input[ type='checkbox' ] {
	max-width: 20px;
	max-height: 20px;
}

td.field-wage input.form-control[ type='checkbox' ] {
	margin: 12.5px;
}

.messages {
	text-align: center;
	list-style: none;
	font-size: 22px;
	color: #f00;
}

.navbar {
	border-radius: 0;
}

.ratingpercentageunder100 {
	font-weight: bold;
	background: #f00;
}

.notif-form table {
	border-collapse: separate;
	border-spacing: 0 5px;
}

/* increase checkbox target area */
.notif-form input [ type='checkbox' ]:after {
	width: 21px;
	content: '';
	display: block;
	height: 20px;
	position: relative;
	left: -4px;
	top: -3px;
}

.errorPage {
	text-align: center;
}

.errorPage img {
	width: 80%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.errorPage p {
	margin-top: 16px;
	font-size: 20px;
}

.form-horizontal div [ class='form-group' ] {
	margin-left: 0;
	margin-right: 0;
}
